<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <bean id="user" class="com.application.entity.User"/>
    <bean id="userDTO" class="com.application.dto.UserDTO"/>
    <bean id="userDAO" class="com.application.dao.daoimpl.UserDAOImpl"/>
    <bean id="userValidator" class="com.application.validators.UserValidator"/>
    <bean id="userDTOValidator" class="com.application.validators.UserDTOValidator"/>
    <bean id="profileDAO" class="com.application.dao.daoimpl.ProfileDAOImpl"/>
    <bean id="userUtils" class="com.application.utils.userUtilsImpl.UserUtilsImpl"/>
    <bean id="postsDAO" class="com.application.dao.daoimpl.PostsDAOImpl"/>
    <bean id="postsValidator" class="com.application.validators.PostsValidator"/>
    <bean id="profileUtils" class="com.application.utils.profileUtilsImpl.ProfileUtilsImpl"/>
    <!--<import resource="hibernate-context.xml" />-->
</beans>