.field{
    border-radius: 10px;
    height: 40px;
    text-align: center;
    font-size: medium;
    width: 300px;
    color: darkblue;
}
body{
    background-size: 100%;
    background-attachment: fixed;
}
.form#signUp{
    margin: auto;
    margin-top: 150px;
    background-color: black;
}
.edit{
    /*margin-left: 70%;*/
    border-radius: 10px;
    font-family: Times New Roman, serif;
    font-size: medium;
}
.form{
    width: 340px;
    height: 250px;
    /*background-color: darkgray;*/
    border-radius: 10px;
}
.form#mainPage{
    margin-left: 70%;
    margin-top: 160px;
}
.form button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-size: medium;
    font-family: Times New Roman, serif;
}
span#reg{
    color: orange;
}
span#login{
    color: darkblue;
}
.form form{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    position: absolute;
}
.inline{
    display: inline-table;
}
.inline span{
    font-size: 25px;
}
.inline button{
    border-radius: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-family: Times New Roman, serif;
}
#menu{
    width: 150px;
    margin-left: 25%;
    position: fixed;
}
.lMenu a{
    font-size: 20px;
    color: black;
    text-decoration-line: inherit;
}
.lMenu a:hover{
    color: red;
}
.time{
    margin: auto;
    text-align: left;
    color: grey;
}
.avatar{
    width: 60px;
    height: 60px;
    border: 1px;
}
.button a{
    color: grey;
}
/*div#profilePage{*/
    /*width: 50%;*/
    /*margin: auto;*/
/*}*/
#mainColumn{
    margin-left: 37%;
    width: 450px;
}
#success{
    margin-top: 200px;
    margin-left: 35%;
    font-size: 25px;
    color: azure;
    position: absolute;
}
#success button {
    border-radius: 10px;
    margin-left: 40%;
    font-size: 15px;
    margin-top: 10px;
}
#mes{
    margin: 20%;
    position: fixed;
    font-size: 25px;
    font-family: Times New Roman, serif;
    color: darkgray;
}
.forBG{
    display: inline-block;
}
